.elebar-description{display: flex;margin-bottom:30px}
.elebar-description img{flex:1 0 45%;max-width:45%}
.elebar-description img + {flex:1 0 45%}
.payment-method .payment-method-title{display:flex;align-items: center;}
.payment-method .payment-method-title .elebar-banner-checkout img{vertical-align: middle;}
.payment-method .payment-method-title input[type="radio"]{margin:0 10px 0 0}
.checkout-billing-address{padding:40px 20px;background:#f3f3f3}
.checkout-billing-address .action-edit-address{margin-top:20px;padding:10px 20px!important;background:#fff;box-shadow:none; border-radius: 0; text-transform: uppercase; letter-spacing: 0.2px;}
@media (max-width:1023px){
.elebar-description{display: block;}
.elebar-description img{flex:1 0 100%;max-width:100%}
}