<?xml version="1.0"?>
<!--
/**
 * Copyright © Rollpix. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="rollpix" frontName="rollpix">
            <module name="Rollpix_Payment"/>
        </route>
    </router>
</config>
