<?xml version="1.0"?>
<!--
/**
 * Copyright © Rollpix. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Rollpix\Payment\Model\Adapter\AdapterInterface" type="Rollpix\Payment\Model\Adapter\RESTfulAdapter"/>

    <virtualType name="RollpixConfig" type="Rollpix\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Rollpix\Payment\Gateway\Config\Config::CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="RollpixPayNowConfig" type="Rollpix\Payment\Gateway\Config\PayNowConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Rollpix\Payment\Gateway\Config\PayNowConfig::CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="RollpixLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">RollpixConfig</argument>
        </arguments>
    </virtualType>

    <type name="Rollpix\Payment\Model\Adapter\ApiAdapter">
        <arguments>
            <argument name="customLogger" xsi:type="object">RollpixLogger</argument>
            <argument name="config" xsi:type="object">RollpixConfig</argument>
        </arguments>
    </type>

    <type name="Rollpix\Payment\Observer\IsActiveObserver">
        <arguments>
            <argument name="config" xsi:type="object">RollpixConfig</argument>
        </arguments>
    </type>

    <type name="Rollpix\Payment\Block\Widget\Product">
        <arguments>
            <argument name="config" xsi:type="object">RollpixConfig</argument>
        </arguments>
    </type>

    <type name="Rollpix\Payment\Block\Widget\Cart">
        <arguments>
            <argument name="config" xsi:type="object">RollpixConfig</argument>
        </arguments>
    </type>

    <type name="Rollpix\Payment\Model\Ui\ConfigProvider">
        <arguments>
            <argument name="config" xsi:type="object">RollpixConfig</argument>
            <argument name="payNowConfig" xsi:type="object">RollpixPayNowConfig</argument>
        </arguments>
    </type>  
</config>
