<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <modo_gateway>
                <model>GatewayFacade</model>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_void>0</can_void>
                <is_gateway>0</is_gateway>
                <title>MODO - Paga en un click con la app de MODO</title>
                <sanbox_mode>1</sanbox_mode>
                <allowspecific>1</allowspecific>
                <order_status>pending</order_status>
                <can_use_checkout>1</can_use_checkout>
                <active>1</active>
                <checkout_title>MODO</checkout_title>
                <checkout_description>Paga en un click con la app de MODO</checkout_description>
                <marketplace_message>MODO - Proba comprar los productos por separado y paga con MODO</marketplace_message>
                <approved_order_status>processing</approved_order_status>
                <failure_order_status>pending</failure_order_status>
                <cancel_order>1</cancel_order>
                <debug_mode>1</debug_mode>
            </modo_gateway>
        </payment>
        <csp>
            <mode>
                <storefront>
                    <report_only>1</report_only>
                </storefront>
            </mode>
        </csp>
    </default>
</config>
