<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Rollpix_Elebar::gateway" title="Elebar" module="Rollpix_Elebar" sortOrder="60" resource="Rollpix_Elebar::gateway" />
        <add id="Rollpix_Elebar::gateway_item" title="Elebar Vendors" module="Rollpix_Elebar" sortOrder="0" action="gateway/item" resource="Rollpix_Elebar::gateway_item" parent="Rollpix_Elebar::gateway" />
        <add id="Rollpix_Elebar::gateway_settings" title="Elebar Settings" module="Rollpix_Elebar" sortOrder="0" action="adminhtml/system_config/edit/section/payment/"  resource="Rollpix_Elebar::gateway_item" parent="Rollpix_Elebar::gateway"/>
   </menu>
</config>
